/*
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
*/

body {
    padding: 0px;
    background: linear-gradient(to bottom, #6A994E, #386641);
}

/*

.title {
	color: #5C6AC4;
}

*/

.a_widget_body {
    background: linear-gradient(to top, #6A994E, #ffffff);
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.c_face_box {
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.c_range_box {
    min-width: 300px;
    background-color: #F2E8CF;
    color: #6A994E;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    margin: 0 10px 0px 10px;

}

.c_rating_box {
  color: #F2E8CF;
  width: 150px;
  border-radius: 300px 300px 0 0;
  background-color: #F2E8CF;
  padding: 10px 10px 0px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  margin: 10px 10px 0 10px;
}
.c_rating_red_box {
  width: 150px;
  word-wrap: break-word;
  color: #F2E8CF;
  border-radius: 300px 300px 0 0;
  background-color: #BC4749;
  color: #F2E8CF;
  text-align: center;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0;
  transition: transform 0.3s ease;
  /*align-items: flex-end;*/
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 30px;
  box-sizing: border-box;
}

.c_sign_box {
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.0);
  color: #6A994E;
  padding: 0 20px 10px 20px;
  border-radius: 25px;
  transition: transform 0.2s;
  margin: 0 10px 10px 10px;
}

.c_title_box {
  width: fit-content;
  background-color: #F2E8CF;
  color: #6A994E;
  padding:  10px 20px 3px 20px;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  margin: 10px 50px 0px 50px;
  font-weight: bold;
  color: #BC4749;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.c_mark_box {
  font-size: 24px;
}

.c_rating_num_box {
  font-size: 32px;
}

.c_x_box {
  transition: transform 0.2s;
  opacity: 1;
}

.c_x_box:hover {
  opacity: 1;
  transform: scale(1.05);
}

.c_x2_box {
  transform-origin: bottom;
  transition: transform 0.3s;
  opacity: 1;
}

.c_x2_box:hover {
  opacity: 1;
  transform: scaleY(1.05);
}

.c_title_box:hover {
  transform: scale(1.05);
}

.c_sign_box:hover {

}

.c_range_box:hover {
    opacity: 1;
    transform: scale(1.05);
}

.c_rating_box::hover {

}

#386641
#6A994E
#A7C957
#F2E8CF
#BC4749